.form__control{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

/* inputs */

.form__input{
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 15px 10px;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow-color);
    transition: all 0.2s ease-in;
}

.form__input::placeholder{
    color: var(--primary-color);
    opacity: 0.5;
}

.form__input:focus{
    border: 1px solid var(--primary-color);
}

/* title */

.form__title{
    font-weight: bold;
    font-size:1.6rem;
    color: var(--primary-color);
}

@media screen and (min-width:768px) {
    .form__title{
        font-size:1.8rem;
    }
}

@media screen and (min-width:1024px) {
    .form__title{
        font-size:2rem;
    }
}