/* app */

.app{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* products */

.productsList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,768px));
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    max-width: 768px;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.product{
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--primary-color );
    box-shadow: var(--box-shadow-color);
    width: 100%;
    height: auto;
}

.productsList .productImage{
    object-fit: cover;
    width: 100%;
    min-height: 220px;
    max-height: 280px;
    margin-bottom:2rem;
    border-radius: 8px;
}

.productsList .productDetail{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

@media screen and (min-width : 768px) {
    .productsList {
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        max-width: 768px;
    }

    .productsList .productImage{
        height: 200px;
    }
}

@media screen and (min-width : 1024px) {
    .productsList {
        max-width: 1024px;
    }
}

/* btn */

.btnContainer{
    width: 100%;
}

.btn{
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0px 0px 8px 8px;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight : 500;
}

.btn-cart{
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--secondary-color);
}